# Homework 1
## Ethan Gallup
## Unid: u1033198

In [38]:
import numpy as np
import pandas as pd
pd.set_option('display.precision', 2)

## Problem 1
No Submission necessary for problem 1.

## Problem 2

The following gas stations were cited for irregular dispensation by the Department of Agriculture with
the following data

| Gas Station | Gasoline Reading at Pump (Gallons)   | Actual Gasoline Dispensed (Gallons)|
|------|------|-----|
|A| 10.00| 9.90|
|B| 20.00| 19.90|
|C| 30.00| 29.80|
|D| 30.00| 29.95|

1. (15 pts) If you are trying to find out which gas station cheated you the most, which type of error
should you look at?
2. (20 pts) Compute the error you chose in the previous question for each gas station.
3. (15 pts) Which gas station cheated you the most?

### Solution Part 1

it depends on what we mean by cheated the most:

If I want to find out which gas station is the most dishonest I would use true relative error.

If I want to find which gas station owes me the most money I would use true absolute error.

### Solution Part 2

In [39]:
stations = pd.DataFrame(index=['A', 'B', 'C', 'D'], columns=['Reading', 'Actual', 'Absolute_Error', 'Relative_Error'])
stations.Reading = [10., 20., 30., 30.]
stations.Actual = [9.9, 19.90, 29.80, 29.95]
stations.Absolute_Error = stations.Reading - stations.Actual
stations.Relative_Error = stations.Absolute_Error/stations.Reading
stations.index.name = 'Gas Station'
stations.style.background_gradient(subset=['Absolute_Error', 'Relative_Error'], cmap='Reds')

### Solution Part 3

Largest true Absolute Error (who cheated me out of the most money):

Gas Station C | 20 &cent;

Largest true Relative Error (who cheated by the largest margin):

Gas Station A | 1 &cent;/Gallon